body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: url(https://images.unsplash.com/photo-1604608674439-e8a6c91ab51b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80) no-repeat;
  background-position: top;
  background-size: cover;
}

.login-box {
  width: 350px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  color: white;
}

.login-box h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 650;
  margin-bottom: 20px;
  padding: 13px 0 5px;
  border-bottom: 3px solid white;
}

.text-box {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 12px 0;
  border-bottom: 1px solid white;
}
.text-box i {
  width: 26px;
  float: left;
  text-align: center;
  margin-right: 3px;
}
.text-box input {
  background: none;
  border: none;
  outline: none;
  width: 80%;
  font-size: 18px;
  float: left;
  color: white;
}

.submit {
  margin-top: 20px;
}

.submit button {
  cursor: pointer;
  background: none;
  width: 100%;
  font-size: 18px;
  border: 1px solid white;
  padding: 8px 0;
  color: white;
}

p{
  color: rgb(201, 204, 8);
  padding-left: 30px;
}