body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: url(2.jpg) no-repeat;
  background-position: top;
  background-size: cover;
}

.login-box {
  width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  font-weight: 650;
  margin-bottom: 20px;
  padding: 13px 0 5px;
  border-bottom: 3px solid white;
}

.text-box {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid white;
}
.text-box i {
  width: 26px;
  float: left;
  text-align: center;
}
.text-box input {
  background: none;
  border: none;
  outline: none;
  width: 80%;
  font-size: 18px;
  float: left;
  color: white;
}

.submit button {
  cursor: pointer;
  background: none;
  width: 100%;
  font-size: 18px;
  border: 1px solid white;
  padding: 8px 0;
  color: white;
}
